/* TaskList component - Using Tailwind CSS */
/* Additional custom utilities */

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}